/*cambio color fondo del menu navegacion*/
nav.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: lightyellow !important;
}


/*cambio altura del slider*/
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
    height: 560px;
}

/*cambio en los iconos*/
i.bi-check2{
    color: rgb(55, 150, 0);
    font-size: 30px;
}

i.bi-brush{
    color: rgb(0, 90, 150);
    font-size: 30px;
}

i.bi-ev-front-fill{
    color: rgb(105, 105, 105);
    font-size: 30px;
}

i.bi-car-front-fill{
    color: rgb(0, 0, 0);
    font-size: 30px;
}

i.bi-person-fill-check{
    color: orange;
    font-size: 20px;
}

i.bi-person-workspace{
    color: orange;
    font-size: 20px;
}

a.nav-link {
    display: block;
    padding: 20px 20px;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #997200;
    text-decoration: auto;
    background: #fff2c7;
    border: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    margin-right: 10px;
}

h2.hola{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 150;
    line-height: 1.2;
    color: coral !important;
}

h1{
    text-align: center;
    margin-bottom: 50px !important;
    color: rgb(228, 151, 8) !important;
    font-family: Montserrat;
}

h2{
    text-align: center;
    color: #00000094 !important;
    margin-bottom: 20px !important;
  

}

h3.nuevo{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 150;
    line-height: 1.2;
    color: coral !important;
}

/*imagenes de trabajadores*/

img.joarquin{
    height: 100px;
    border-radius: 30px;

}

img.javier{
    height: 100px;
    border-radius: 30px;

}

p.persona{
    color: rgb(5, 65, 155);
    font-family: Verdana, Geneva, Tahoma, sans-serif bold
}


/**Aquí empieza el formulario"**/

form{
    width: 50%;
    padding: 3%;
    border-radius: 10px;
    margin: auto;
    background-image: url(../img/carbono.jpg);
    color: rgba(255, 115, 0, 0.788);
    text-align: center;
}

div.formulario1{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

label, legend{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px !important;
}


fieldset, input{
    margin-bottom: 12px;
}

.login{
    border: 3px solid rgb(17, 61, 4);
    padding: 15px 5px;
    margin-bottom: 10px;
}

fieldset{
    border: 10px solid black;
}

@media (max-width: 650px){
    form{
        width: 80%;
    }
}

h5{ margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 150;
    line-height: 1.2;
    color: rgb(39, 82, 0) !important;

}


footer{
    background-color: darkorange;
    width: 100%;
}


h5.otraletra{
    font-family: montserrat;
}
div.tamanoimg input{
    display: inline !important;
}

h6.colorwhatsapp{
    color: rgb(9, 82, 15);
}

h6.colorfacebook{
    color: #3b5998;
}

p.copyright{
    color: white;
}
html {
    height: 100%;
  }
    body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
    footer {
    margin-top: auto;
  }

  i.bi-check{
    color: green;
  }

  p.trabaja{
    color: orangered;
    font-size: 14px;
    font-family: verdana black;
  }

  div.videonuevo{
    width: 100% !important;
    
  }